<style>
#g-rev-style-3.uk-slider {
    margin: 20px 10px;
}

#g-rev-style-3 .tm-review-box {
    padding: 20px;
    margin: 12px;
    border-radius: 10px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+20,e8e8e8+20,ffffff+20,ffffff+20,f9f9f9+100 */
    background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 20%,rgba(232,232,232,1) 20%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 20%,rgba(249,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
}

#g-rev-style-3 .tm-review-box span > img {
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
}

#g-rev-style-3 .tm-review-stars {
    color: gold;
    font-size: 25px;
}

#g-rev-style-3 .tm-review-stars > i {
    margin: 0 2px;
}

#g-rev-style-3 .tm-review-text {
    font-style: italic;
}

</style>

<div id='g-rev-style-3' uk-slider>

<div class="uk-position-relative">
    
    <div class="uk-slider-container">
        <ul class="uk-slider-items uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l uk-grid-small" uk-height-match=".tm-review-box">
            {# {% for review in reviews_bowie|slice(0, 6) %} #}
            {% for review in reviews|slice(0, 8) %}
            <li>
                <div class="tm-review-box reviewsingle" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
                <span class="uk-display-block uk-text-left"><img src="https://blogsdir.imgix.net/952/files/icons/social/google.svg" alt=""></span>
                <div class="tm-review">
                    <div class="tm-review-stars uk-text-center">
                        {% for i in range(1, review.stars) %}
                            <i class="fa-solid fa-star"></i>
                        {% endfor %}
                    </div>
                    <p class="tm-review-signature uk-text-center uk-text-bold uk-margin-small">{{review.signature}}</p>
                    <p class="uk-text-small uk-text-center uk-margin-top-small">from {{review.location}}</p>
                    <hr />
                    {% if review.edited_review %}
                        <p class="tm-review-text" itemprop="description">{{ review.edited_review|slice(0, 200) }}...</p>
                    {% endif %}
                    
                </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right-out uk-position-small" href uk-slidenav-next uk-slider-item="next"></a>

</div>

<ul class="uk-slider-nav uk-dotnav uk-flex uk-flex-center"></ul>

</div>